<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151302119119-44fs3tkho0rpha8h74j6kph6st1apdek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151302119119-44fs3tkho0rpha8h74j6kph6st1apdek</string>
	<key>API_KEY</key>
	<string>AIzaSyC1MNUtyFipn3pDx1TT6tEiXqbd1BYON-E</string>
	<key>GCM_SENDER_ID</key>
	<string>151302119119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rizqisatriaw.testCatalyst</string>
	<key>PROJECT_ID</key>
	<string>catalyst-dbecb</string>
	<key>STORAGE_BUCKET</key>
	<string>catalyst-dbecb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151302119119:ios:c1b295e46f29513578a1ba</string>
</dict>
</plist>